**/node_modules
**/.DS_Store
.vscode
coverage
dist
/.idea/.gitignore
/.idea/jwt-pizza-service.iml
/.idea/modules.xml
/.idea/vcs.xml
/scripts/generatePizzaData.sh
/src/config.js
/src/grafanaApiKey.js
/scripts/basicGrafanaData.txt
/scripts/toggleMetrics.txt
/.idea/dataSources.xml
/scripts/enableChaos.sh
/.idea/jsLibraryMappings.xml
/.idea/sqldialects.xml
/scripts/enableChaos.sh
